p { color: black; font-family: Tahoma;font-size:30pt; font-weight:bold; }
body {bgcolor:green}

d { color: black; font-family: ARIAL;font-size:20pt; font-weight:bold; }
body {bgcolor:green}

img {height:auto; width:350 }